/* 
#FFFFFF: white
#000000: black 
#001021: background blue
#33C7F7: light blue
#A1A6B4: light gray for text
#17324F: project-card color
*/

.heading {
    background-color: #001021;
    color: #A1A6B4;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.projects-collection {
    background-color: #001021;
    color: #A1A6B4;
    margin: 4em 10em;
    justify-content: center;
}

/* for tablets */
@media only screen and (min-width: 600px) and (max-width: 800px){
    .projects-collection {        
        margin: 4em 10em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-auto-rows: 300px; */
        column-gap: 1em;
        row-gap: 1em;
        justify-content: center;
    } 
}

/* for desktop */
@media only screen and (min-width:800px){
    .projects-collection {
        margin: 4em 10em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 300px;
        column-gap: 1em;
        row-gap: 1em;
        justify-content: center;
    }  
}
.projects-container{
    background-color: #001021;
    color: #A1A6B4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.project-card{
    width: 310px;
    height: 350px;
    background-color: #17324F;
    margin-bottom: 2em;
    position: relative;
}

.project-links{
    display: flex;
    justify-content: flex-end;
    padding: 1.5em 1em;
}

#folder-icon{
    /* width:100%; */
    margin-left: 0.1em;
    flex-grow: 10;
    color: #33C7F7;
}

.project-title{
    margin: 0 1em 40px 1em;
    font-size: 1.5rem;
}

.project-desc {
    margin: 0 1.5em;
}

.project-techstack ul {
    list-style-type: none;
    position: absolute;
    bottom: 15px;
    margin: 100px 1em 0 0.5em;
}

.project-techstack ul li {
    display: inline;
    margin: 0 1em;
    
}