/* 
#FFFFFF: white
#000000: black 
#001021: background blue
#33C7F7: light blue
#A1A6B4: light gray for text
*/

.about-container{
    background-color: #001021;
    color: #A1A6B4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2em 1em;
}

.maininfo{
    width: 90vw;
    font-size: 1.2em;
}

.tech-list{
    padding: 2em 0em;
    width: 30em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list-item{
    padding: 0.25em 0em;
}

.bullet{
    color: #33C7F7;
    margin-right: 0.5em;
}

.picture-container{
    display: flex;
    justify-content: center;
    margin: 2em 0 2em 0;
}

.picture{
    width: 16em;
    height: 16em;
    background: linear-gradient(rgba(51,199,247,.5), rgba(51,199,247,.5)), url("../../images/professionalPhotoSquare.jpg");
    /* background-image: url('C:\Users\meeta\Desktop\MyWebsite\my-website\src\images\professionalPhotoSquare.jpg'); */
    background-size: cover;
}

@media only screen and (min-width: 1045px){
    .about-container{
        background-color: #001021;
        color: #A1A6B4;
        display: grid;
        grid-template-columns: 60fr 40fr;
        padding: 2em 18em;
    }
    
    .maininfo{
        width: 30em;
        font-size: 1.2em;
    }
    
    .tech-list{
        padding: 2em 0em;
        width: 30em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .list-item{
        padding: 0.25em 0em;
    }
    
    .bullet{
        margin-right: 0.5em;
        color: #33C7F7;
    }
    
    .picture{
        margin: 0em 5em;
        width: 20em;
        height: 20em;
        background: linear-gradient(rgba(51,199,247,.4), rgba(51,199,247,.4)), url("../../images/professionalPhotoSquare.jpg");
        background-size: cover;
    }
}
