/* 
#FFFFFF: white
#000000: black 
#001021: background blue
#33C7F7: light blue
#A1A6B4: light gray for text
*/

.subtitle-container{
    background-color: #001021;
    color: #A1A6B4;
    display: flex;    
    justify-content: left;
    align-items: center;
    padding-top: 6em;
}

.num{
    color: #33C7F7;
    margin: 0 0 0 1em;
}

.title{
    color: white;
    margin: 0 0.4em; 
    font-size: 1.1em;
    font-weight: bold;
}

.line{
    background-color: black;
    border: 0.1px solid black;
    width: 30vw;
    height: 1px;
}

@media only screen and (min-width: 800px){
    
    .subtitle-container{
        background-color: #001021;
        color: #A1A6B4;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 18em;
        padding-top: 6em;
    }

    .num{
        font-size: 1.5em;
    }

    .title{
        font-size: 1.8em;
        margin: 0 0.4em; 
        font-weight: bold;
    }

    .line{
        background-color: black;
        border: 0.5px solid black;
        width: 25em;
        height: 1px;
    }
}
